name: Android E2E with Maestro

on:
  workflow_dispatch

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Enable KVM (Hardware Accel)
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' \
            | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Install Maestro CLI
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> $GITHUB_PATH

      - name: Start Android Emulator & Run Maestro
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          arch: x86_64
          profile: pixel_7_pro
          script: |
            echo "Emulator started successfully"
            
            # Install APK
            adb install ./paradym-without-biometrics-preview.apk
            
            # Run Maestro flows
            maestro test ./get-started.yaml
      
      - name: Upload Maestro Screen Recordings
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: maestro-recordings
          path: |
            ./ **/*.mp4
            ./*.mp4
          if-no-files-found: warn

      - name: Upload Maestro Debug Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: maestro-debug
          path: ~/.maestro/tests/
          if-no-files-found: warn